/* Sidebar.module.css */
.sidebar {
    width: 250px;
    height: 100%;
    background-color: #2C3E50;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #1C2833;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    position: relative; /* Ensure positioning is relative for the button */
}

.collapsed {
    width: 80px;
}

.sidebarItemsContainer {
    flex: 1;
    overflow: hidden;
}

.sidebarItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    background-color: #34495E;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebarItemIcon {
    font-size: 24px;
    color: #ECF0F1;
    transition: margin-right 0.3s ease;
}

.sidebarItemLabel {
    font-size: 16px;
    color: #ECF0F1;
    white-space: nowrap;
}

.sidebarItemTooltip {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateX(10px) translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}

.sidebarButton {
    align-self: flex-end;
    background-color: #1ABC9C;
    width: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 40px;
    right: -5px;
    transform: translateX(50%);
    z-index: 2;
}


/*user area*/
.separator {
    border-top: 1px solid #1C2833; /* Separator line */
    margin: 10px 0;
}

.userArea {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #34495E;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.userArea:hover {
    background-color: #1ABC9C; /* Hover effect */
}

.userImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #ECF0F1; /* Placeholder background color */
}

.userInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ECF0F1;
}

.userName {
    font-size: 16px;
    margin: 0;
}

.userEmail {
    font-size: 12px;
    margin: 0;
    opacity: 0.8; /* Slightly faded text */
}

.userOptions {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #ECF0F1;
    display: none; /* Initially hidden */
}

.userArea:hover .userOptions {
    display: block; /* Show on hover */
}